body{
    margin: 0;
    padding: 0;
    background-color: #003a13;
}


.title{
    margin-top: 80px;
    text-align: center;
    color: white;
}

/* footer */

.footer-style {
    padding-top: 50px;
    background-color: #114b09;
}
footer {
  color: white;
  position: absolute;
  clear: both;
  margin-top: 0px;
  padding-top: 0px;
  overflow: visible;
  top:93%;
  width: 100%;
}
footer h3 {
  margin-bottom: 10px;
    font-weight: 800;
}
footer .footer-above {
  padding-top: 30px;
  background-color: #08500e;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 15px 0;
  background-color: #10461d;
}

.list-inline li{
  display: inline-block;
}

a{
  color: white;
  text-decoration: none;
}


/* Estilos para el formulario */

.form-label{
  color: white;
}

.form-Students{
  display: flex;
  justify-content: center;
}

.form-Students button{
  margin: 60px;
  padding: 20px;
}

.mb-3{
  
}

.form-addStudents{
  background-color: rgb(86, 128, 3);
  width: 50%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
}

.table-data{
  margin-top: 50px;
  background-color: white;
}